{
  "ALGOLIA_API_KEY": "",
  "AZURE_STORAGE_ACCOUNT_KEY": "",
  "AZURE_STORAGE_ACCOUNT": "",
  "CDN_ENDPOINT": "",
  "DATABASE_URL": "",
  "DEFAULT_ADMIN_EMAIL": "",
  "DEFAULT_ADMIN_PASSWORD": "",
  "DEFAULT_BLOG_ID": "",
  "DISQUS_OAUTH_CLIENT_ID": "",
  "DISQUS_OAUTH_CLIENT_SECRET": "",
  "GITHUB_OAUTH_CLIENT_ID": "",
  "GITHUB_OAUTH_CLIENT_SECRET": "",
  "GOOGLE_OAUTH_CLIENT_ID": "",
  "GOOGLE_OAUTH_CLIENT_SECRET": "",
  "MAILGUN_API_KEY": "",
  "MAILGUN_DOMAIN": "",
  "NEXT_PUBLIC_ALGOLIA_API_KEY": "",
  "NEXT_PUBLIC_ALGOLIA_APP_ID": "",
  "NEXT_PUBLIC_ALGOLIA_INDEX_NAME": "",
  "NEXT_PUBLIC_API_ENDPOINT": "",
  "NEXT_PUBLIC_CDN_URL": "",
  "NEXT_PUBLIC_DEFAULT_BLOG_ID": "",
  "NEXT_PUBLIC_DEFAULT_BLOG_NAME": "",
  "NEXT_PUBLIC_DEFAULT_BLOG_SLOGAN": "",
  "NEXT_PUBLIC_DEFAULT_CLIENT_ID": "",
  "NEXT_PUBLIC_SITE_URL": "",
  "NEXT_PUBLIC_SUPPORTED_OAUTH_PROVIDERS": "",
  "NODE_ENV": "",
  "REDDIT_OAUTH_CLIENT_ID": "",
  "REDDIT_OAUTH_CLIENT_SECRET": "",
  "USER_SESSION_KEY": "",
  "TF_VAR_ENVIRONMENT": "",
  "TF_VAR_USER_PRINCIPAL_ID": "",
  "TF_VAR_DB_TUNNEL_IP": ""
}
